body{
    background-color: rgb(46, 45, 45);
}
.chat-box{
    margin: 4.5%;
    margin-top: 2%;
    margin-bottom: 0%;
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 72, 72);
    border: 2px solid salmon;
    border-radius: 10px;
}
.chat-head{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid salmon;
    height: 10%;
}
.profile-photo{   
    margin: 0.5% 2%;
    float: left;
    border: 2px solid salmon;
    border-radius: 50%;
    width: 50px;
}
.chat-name{
    align-self: center;
    text-align: center;
    align-items: center;
    border: 2px solid salmon;
    border-radius: 20px;
    height: 70%;
    width:90%;
    background-color: rgb(46,45,45);
    color:mistyrose;
    font-size: 30px;
}
.user-list{
    align-self: center;
    margin-left: 0.5%; 
    margin-top: 1.2%;   
    width: 6%;
    height: 100%;
    
}
.list{
    width:90%;
    height: 80%;
    font-size: 20px;
    color:rgb(26, 78, 77);
    border-radius: 10px;
    border: 2px solid salmon;
}
.chat-display{
    display: flex;
    width:100%;
    height:80%
}
.list-user{
    
    width: 20%;
    background-color: rgb(63, 65, 66);
    border-left: 5px solid salmon;
}
.info{
    margin:5%;
    font-size: 150%;
    padding: 2%;
    border-bottom: 2px solid rgb(236, 186, 186);
    color: rgb(7, 7, 6);
    background-image: linear-gradient(rgb(196, 188, 188), rgb(80, 80, 74));
}
.user{
    padding: 2%;
    margin: 5%;
    font-size: 100%;
    border-bottom: 2px solid rgb(236, 212, 238);
    color: rgb(252, 252, 252);
    background-image: linear-gradient(rgb(196, 188, 188), rgb(228, 116, 104));
}
.chat-body{
    width:80%;
    background-image: url("chatbox1.jpg");
    margin: 0%;
    height:100%;  
    overflow-y: auto;
}
.message{
    width:55%;
    padding: 5px;
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
    border:2px solid black;
    border-radius: 20px;
    height: fit-content;
    font-size: 100%;
    color: rgb(252, 251, 248);
}
.left{
    background-color: rgb(36, 35, 35, 0.767);
    float: left;
    clear: both;
}
.right{
    background-color: rgb(218, 111, 99,0.767);
    float: right;
    clear: both;
}

.list-user-cl{
    display: none;
}

.chat-body1{
    width:100%;
}
#send-container{   
   
    border-top: 2px solid salmon;
   
}
form{
    
    height: 100%;
}
#messageInp{
    width: 80%;
    height: 30px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 100%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgb(82, 80, 80);
    border-radius: 50px;
    outline: none;
    color: snow;
}
.btn{
    cursor: pointer;
    background-color:rgb(73, 72, 72);    
    height: 40px;
    width: 16%;
    min-width:50px;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    color:seashell;
    font-size: 100%;
    border: 2px solid salmon;
    border-radius: 20px;
}





